bcrypt==4.3.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
colorama==0.4.6
cryptography==45.0.5
docopt==0.6.2
idna==3.10
iniconfig==2.1.0
packaging==25.0
paramiko==3.5.1
pipreqs==0.4.13
pluggy==1.6.0
pycparser==2.22
Pygments==2.19.2
PyNaCl==1.5.0
pytest==8.4.1
requests==2.32.4
urllib3==2.5.0
yarg==0.1.10
